<mat-toolbar>
  <div class="brand box">
    <img src="assets/icons/logo.svg">
  </div>
  <div class="nav-list">
    <mat-nav-list>
      <mat-list-item [routerLink]="['', 'users', 'dashboard', 'home']">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['', 'users', 'dashboard', 'backlog']">
        <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">BACKLOG</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['', 'users', 'dashboard', 'create']">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">CREATE</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['', 'users', 'dashboard', 'manage']">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">MANAGE</a>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="person-avatar box">
    <img src="assets/images/person_avatar.svg"  [matMenuTriggerFor]="menu">
    <mat-menu #menu>
      <mat-list>
        <mat-list-item>
          <img src="assets/images/person_avatar.svg">
          <mat-label>Yimnai</mat-label>
        </mat-list-item>
        <div ngClass="hideDropdownEl">
          <mat-list-item>
            <a [routerLink]="['', 'users', 'dashboard', 'home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ngClass="dropdownItemColor">HOME</a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['', 'users', 'dashboard', 'backlog']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ngClass="dropdownItemColor">BACKLOG</a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['', 'users', 'dashboard', 'create']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ngClass="dropdownItemColor">CREATE</a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['', 'users', 'dashboard', 'manage']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ngClass="dropdownItemColor">MANAGE</a>
          </mat-list-item>
        </div>
        <mat-list-item>
          <a [routerLink]="['', 'users', 'auth', 'login']" ngClass="dropdownItemColor">LOGOUT</a>
          <mat-icon matSuffix ngClass="dropdownItemColor">logout</mat-icon>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </div>
</mat-toolbar>
