<div class="container" *ngIf="!dataManagerService.loginSignupState">
  <div class="header">
    <div class="brand">
      <img src="assets/icons/logo.svg" alt="logo">
    </div>
    <div class="title">
    </div>
  </div>
  <div class="content">
    <form [formGroup]="dataManagerService.resetPasswordForm">
      <div class="form-content">
        <mat-form-field appearance="fill" floatLabel="always" class="mat-elevation-z3">
          <input type="text" matInput formControlName="username" placeholder="johndoe">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="mat-elevation-z3">
          <input [type]=" passwordState ? 'text' : 'password'" matInput formControlName="password" placeholder="New Password">
          <mat-icon matSuffix (click)="togglePasswordVisibility()" *ngIf="!passwordState">visibility_off</mat-icon>
          <mat-icon matSuffix (click)="togglePasswordVisibility()" *ngIf="passwordState">visibility</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="mat-elevation-z3">
          <input [type]=" passwordState ? 'text' : 'password'" matInput formControlName="password" placeholder="Confirm password">
          <mat-icon matSuffix (click)="togglePasswordVisibility()" *ngIf="!passwordState">visibility_off</mat-icon>
          <mat-icon matSuffix (click)="togglePasswordVisibility()" *ngIf="passwordState">visibility</mat-icon>
        </mat-form-field>
       <div class="btns">
        <button mat-raised-button ngClass="auth-btn">RESET</button>
       </div>
      </div>
    </form>
  </div>
</div>
