.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addition{
  width: 80%;
  height: 90%;
  border-radius: 10px;
  background-image: linear-gradient(134.62deg, #1C125B 0.88%, rgba(28, 18, 91, 0.64) 97.65%);
}

